@import '_variables.scss';

body {
    font-family: $font;
    margin: 0px;
    color: $dark-grey;
}

// ********************************************** //
// App ****************************************** //
// ********************************************** //

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .mainContent {
        width: 90%;
        max-width: 900px;
    }

    h4 {
        text-align: center;
        margin: 24px 36px;
        font: $h4;
    }

    button, .greyBlock {
        width: 100%;
        height: 60px;
        box-shadow: $shadow;
        border-radius: 18px;
        border: none;
        background-color: $grey;
        font: $h2;
        text-align: center;
        margin-bottom: 18px;
        align-items: center;
        justify-content: center;
        display: flex
    }

    .addRestaurantBtn {
        gap: 12px;
    }

    .savedRestaurants {
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        margin-bottom: 24px;
        align-items: center;

        .cardContainer {
            width: 100%;
        }
        
        .searchInput {
            display: flex;
            width: 100%;
            margin: auto;
            gap: 6px;
            
            div {
                display: flex;
                width: 100%;
                position: relative;

                button {
                    height: 32px;
                    width: 48px;
                    position: absolute;
                    right: 0;
                    border-radius: 0 18px 18px 0px;
                    background-color: $grey;
                    opacity: .8;
                }
            }
    
            input {
                width: 100%;
                height: 32px;
                border-radius: 18px;
                border: none;
                background-color: $secondary-green;
                box-shadow: $shadow;
                padding: 0 12px;
                font: $small-body;
            }
    
            .filterBtn {
                width: 32px;
                height: 32px;
                background-color: $primary-green;
                border-radius: 100px;
                margin-bottom: 0;
        
                svg {
                    object-position: center;
                    object-fit: contain;
                    height: 30px;
                }
            }
        }
    }

    .header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        clip-path: ellipse(76% 50% at 53% 32%);
        position: relative;
        width: 100%;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        min-height: 100px;
        object-fit: cover;
        max-height: 100%;
        background-color: $primary-green;
        z-index: 10;

        h1 {
            font: $h1;
            position: absolute;
            text-transform: lowercase;
            color: white;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            z-index: 3;
            text-shadow: $text-shadow;
            left: 50%;
            transform: translate(-50%, 50%);
        }

    }
}

