@import '_variables.scss';

// ********************************************** //
// RestaurantForm ******************************* //
// ********************************************** //

.addRestaurant {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    .error {
        color: $error;
        font: $small-body;
    }

    button {
        background-color: $primary-green;
        height: 42px;
        width: 100%;
        border-radius: 18px;
        font: $h4;
        color: white;
        text-shadow: $text-shadow;
    }

    input, select {
        height: 32px;
        background: $secondary-green;
        box-shadow: $shadow;
        border-radius: 18px;
        border: none;
        max-width: 100%;
        margin-top: 4px;
        font: $small-body;
        padding-left: 12px;
    }

    select, option {
        padding: 0 8px;
        font: $small-body;
    }

    label {
        display: flex;
        flex-direction: column;
        font: $form;
    }

    .checkContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .check {
            flex-direction: row;
            align-items: center;

            input {
                background-color: $secondary-green;
                width: 32px;
                height: 32px;
            }
        }
    }
}